<div fxLayout="row" fxLayoutAlign="center center">
  <h1>Here's what I've worked on.</h1>
</div>
<div fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="30px">
  <app-project-card *ngFor="let project of projects"
    [project]="project" fxFlex="0 1 calc(33.3% - 32px)">
  </app-project-card>
  <mat-card class="resume-intro" fxFlex="0 1 calc(25% - 32px)">
    <mat-card-content>
      Checkout my resume to find out more about my experience!
    </mat-card-content>
    <mat-card-actions>
      <div fxFlex="1 1 auto"></div>
      <a mat-stroked-button color="accent">Resume</a>
    </mat-card-actions>
  </mat-card>
</div>

