<mat-toolbar color="primary">
  <span><a mat-button routerLink="/home" class="header-button">Home</a></span>
  <span><a mat-button routerLink="/projects" class="header-button">Projects</a></span>
  <span><a mat-button routerLink="/resume" class="header-button">Resume</a></span>

  <span class="fill-space"></span>

  <span><a mat-icon-button href="https://www.linkedin.com/in/nathan-smith-bb35b813b/" target="blank">
    <img src="../../assets/linkedin.png"/>
  </a></span>
  <span><a mat-icon-button href="https://github.com/smit2615" target="blank">
    <img src="../../assets/github.png"/>
  </a></span>
</mat-toolbar>
